__pycache__/utils.cpython-310.pyc
__pycache__/models.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
Pics/LMW.pub
Pics/M2+S2_all.jpg
Pics/M2+S2_model3.jpg
Pics/MSL_all.jpg
Pics/Rsq_all.jpg
Pics/Topo_Delfzijl.pub
Pics/z0_model6.jpg
Results/fitted_models_amplitude.xlsx
Results/fitted_models_z0.xlsx
Results/ipcc_rates.xlsx
Results/result_1902 - manual.xlsx
Results/result_1902.xlsx
Results/result_2012 - manual.xlsx
Results/result_2012.xlsx
Results/select_constit.db
__pycache__/models.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
Literature/Arns_etal_srep.pdf
Literature/Australian_sea_levels_Trends_regional_va.pdf
Literature/document.pdf
Literature/essd-2023-112.pdf
Literature/JGR Oceans - 2014 - Dangendorf - Mean sea level variability in the North Sea  Processes and implications.pdf
Literature/The_impact_of_sea_level_rise_on_storm_su.pdf
Literature/wahl_31110.pdf
B-6771-Article Text-23463-1-4-20221025_Review1.docx
Proefdruk_versie_2.pdf
Literature/arns_crest_levels_slr.pdf
Literature/Dangendorf_2019.pdf
Literature/dingJGR2021.pdf
Literature/Dissertation_Leon_Jaenicke.pdf
Literature/egusphere-2023-14.pdf
Literature/mass-balance-of-the-antarctic-ice-sheet-1992-2016-reconciling-results-from-grace-gravimetry-with-icesat-ers12-and-envisat-altimetry.pdf
Literature/Morfologie_westelijke_waddenzee.pdf
Literature/ncomms16075.pdf
Literature/rovere_eastatic_and_relative_slr.pdf
Literature/Southern_North_Sea_storm_surge_event_of_5_December.pdf
Literature/SSRN-id4385979.pdf
Literature/trends_uk_revisited.pdf
Literature/Wahl_observed_North_Sea.pdf
__pycache__/constants.cpython-311.pyc
.gitignore
tests/__pycache__/test_utide.cpython-311-pytest-7.3.1.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/regressionModels.cpython-311.pyc
Data/clean_datasets.ipynb
