__pycache__/utils.cpython-310.pyc
__pycache__/models.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
Pics/LMW.pub
Pics/M2+S2_all.jpg
Pics/M2+S2_model3.jpg
Pics/MSL_all.jpg
Pics/Rsq_all.jpg
Pics/Topo_Delfzijl.pub
Pics/z0_model6.jpg
Results/fitted_models_amplitude.xlsx
Results/fitted_models_z0.xlsx
Results/ipcc_rates.xlsx
Results/result_1902 - manual.xlsx
Results/result_1902.xlsx
Results/result_2012 - manual.xlsx
Results/result_2012.xlsx
Results/select_constit.db
__pycache__/models.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
Literature/Arns_etal_srep.pdf
Literature/Australian_sea_levels_Trends_regional_va.pdf
Literature/document.pdf
Literature/essd-2023-112.pdf
Literature/JGR Oceans - 2014 - Dangendorf - Mean sea level variability in the North Sea  Processes and implications.pdf
Literature/The_impact_of_sea_level_rise_on_storm_su.pdf
Literature/wahl_31110.pdf
B-6771-Article Text-23463-1-4-20221025_Review1.docx
